.lecteur {
    font-family: Courier New, serif !important;
    background: #676767;
    color: black;
    width: 50%;
    border-bottom-left-radius: 50% 30px;
    border-bottom-right-radius: 50% 30px;
}

.cd.animate {
  -webkit-animation: infinite-spinning 2s infinite linear;
}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

audio::-webkit-media-controls-play-button {
    display: none !important;
}
audio::-webkit-media-controls-start-playback-button {
    display: none !important;
}